data/
working_data/
plugins/
logs/
logs/**/*.log
src/price_alchemy/cred.py
notebooks/cred.py
notebooks/__pycache__/cred.cpython-39.pyc
src/price_alchemy/__pycache__/cred.cpython-39.pyc
notebooks/.ipynb_checkpoints/
dags/price_alchemy/
.conda
ringed-reserve-416823-b54bbb8174c1.json
.mypy_cache/
.pytest_cache/
.tox
.coverage
.DS_Store
.ipynb_checkpoints

